@{
    ViewData["Title"] = "Home Page";
}
@model List<Nota>

<form action="@Url.Action("SaveNota","Home")" class="px-4 py-5 notaForm bg-dark text-light" id="notaForm" method="POST">
    <button class="notaForm__CloseBtn" id="closeForm">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>

    <h2 class="notaForm__title mb-3">Ingrese una nota</h2>

    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" class="form-control bg-dark text-light" autocomplete="off">
    </div>

    <div class="form-group">
        <label for="cuerpo">Mensaje</label>
        <textarea id="cuerpo" name="cuerpo" cols="30" rows="10" class="form-control bg-dark text-light"></textarea>
    </div>

    <input type="submit" value="Guardar" class="btn btn-outline-primary">
</form>

<div class="main-container py-4 px-5">
    <h2 class="m-0">Lista de notas</h2>
    <button class="btn-simple mb-4" id="showNotaForm">Agregar Notas</button>

    <div class="nota-container p-0">
        @foreach (var nota in Model)
        {
            <div class="nota bg-info text-light p-2 rounded mb-3 d-inline-block    ">
                <h3 class="nota__title pb-2 text-center border-bottom">@nota.Titulo</h3>
                <p class="nota__body">@nota.Cuerpo</p>
            </div>
        }
    </div>
</div>